        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            color:white;
            background: rgb(235,83,151);
            background: linear-gradient(90deg, rgba(235,83,151,1) 19%, rgba(209,83,235,1) 59%, rgba(129,123,218,1) 83%);
        }

        h1 {
            margin-bottom: 20px;
        }
        textarea {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            border: 3px solid white;
            background: transparent;
            border-radius: 10px;
            opacity: 100%;
            padding:10px;
            color:white;
        }
        select {
            margin-bottom: 10px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #FF9F67;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #FF9F67;
        }

        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100vh;
        }

        button {
          height:40px;
          width:140px;
          text-align: center;
          cursor: pointer;
          border-radius:8px;
          color:white;
          background: #FF9F67;
        }

        /* button::hover {
          height:40px;
          width:140px;
          text-align: center;
          cursor: pointer;
          border-radius:8px;
          color:white;
          background: #FF9F67;
        } */

        select{
          height:40px;
          width:140px;
          margin-right: 10px;
          text-align: center;
          cursor: pointer;
          border-radius:8px;
          color:white;
          background: #FF9F67;
        }